.spacer {
    margin: auto;
}

.login-background-card {
    // background-image: url("C:\Users\alexm\Documents\2021\ISO1\PROYECTO\Nueva carpeta\ui\angular12\src\assets\img\portfolio\Cooperativas_interna.png");
    background-color: #cccccc;
    background-size: cover;
    height: 100vh;
}

.login-form-card{
    width: 30vw;
    height: 60vh;
    margin: auto;
}

// .login-form-card-icon{
//     height: 20vh;
//     width: 20vh;
//     font-size: 20vh;
//     margin: auto;
// }

.login-form-div{
    display: flex;
    mat-icon{
        height: 20vh;
        width: 20vh;
        font-size: 20vh;
        margin: auto;
    }
}

.login-form-content{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    mat-form-field{
        margin: auto;
        width: 80%;
    }
}

.login-form-action{
    display: flex;
    button{
        margin: auto !important;
        width: 80%;
    }
}
