.form-field {
  width: 100%;
}

.contenedor-tree {
  width: 60%;
}

.contenedor-form-field {
  width: 40%;
  margin-right: 10px;
}

@media screen and (max-width: 960px) {
  .form-field {
    width: auto;
  }

  .contenedor-form-field {
    width: auto;
    margin-right: none;

  }
  .contenedor-tree {
    width: auto;
  }
}
